<!DOCTYPE html>
<html lang="en">
<head>
	{% block head %}
		<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href='{{ url_for("static", filename="css/baseStyle.css") }}'>
		{% block headCustom %}
			<link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
		{% endblock %}

		<title>Berjaya | {% block title %}{% endblock %}</title>
	{% endblock %}
</head>
<body>
	{% block navbar %}
		<header>
			<div class="navCtn">
				<a href="/" class="logo">
					<img src='{{ url_for("static", filename="assets/logoBerjaya.svg") }}' alt="Logo Berjaya Hotel">
				</a>
				<nav class="mainNav">
					<ul>
						<li><a href="{{ url_for('instalaciones') }}">Instalaciones</a></li>
						<li><a href="{{ url_for('habitaciones') }}">Habitaciones</a></li>
						<li><a href="{{ url_for('contactanos') }}">Contactanos</a></li>
					</ul>
				</nav>
			</div>
			<div class="welcomeCtn">
				<p class="welcomeTitle">BIENVENIDO A <span>BERJAYA</span> HOTELS</p>
				<p class="welcomeText">Reserva tu estadía y disfruta de Berjaya. <br/> Deleitese en la comodidad de lo suntuoso.</p>
			</div>
			<a href="/login/">
				<div class="reservationCtn">
					<img src="{{ url_for('static', filename='assets/botonReservas.svg') }}" alt="Reservar">
				</div>
			</a>
		</header>
	{% endblock %}	

	{% block content %}{% endblock %}

	{% block footer %}
		<footer>
			<div class="berjayaInfoCtn">
				<img src='{{ url_for("static", filename="assets/logoBerjayaFooter.svg") }}' alt="Berjaya Hotels">
				<p>Kuala Lumpur</p>
				<p>1 Jalan Imbi</p>
				<p>55100 Kuala Lumpur</p>
				<p>Malaysia</p>
			</div>
			<div class="contactUsCtn">
				<ul>
					<li><a href="#">Sobre Nosotros</a></li>
					<li><a href="#">Contacto</a></li>
					<li><a href="#">Términos y Condiciones</a></li>
				</ul>
			</div>
			<div class="socialMediaCtn">
				<ul>
					<li><a href="#">Facebook</a></li>
					<li><a href="#">Twitter</a></li>
					<li><a href="#">Instagram</a></li>
				</ul>
			</div>
			<div class="newsLetterCtn">
				<form action="" method="post">
					<label for="newsletter">Suscríbete a nuestro boletín de noticias</label>
					<div class="newsletterInputsCtn">
						<input type="text" name="newsletter" id="newsletter" placeholder="Email">
						<input type="submit" value="OK" disabled>
					</div>
			</form>
			</div>
		</footer>
	{% endblock %}
</body>
</html>