{% extends 'base.html' %}

{% block title %}Habitaciones{% endblock %}

{% block content %}
    <div class="habitTitle">
        <h1 class="habH1">Habitaciones</h1>
        <p class="habP">Sabemos lo importante que es dormir y descansar para los viajeros, por lo que nos enorgullecemos de proporcionar respiros reparadores de la mejor manera posible. Con habitaciones y suites bellamente decoradas e impecablemente amuebladas de acogedora calidez y suntuoso confort, espere ser mimado y tener todas sus necesidades atendidas atentamente durante su estadía en nuestro hotel de 5 estrellas en KL.</p>
    </div>
    <div class="habitFotos">
        <div class="hab1">
            <img src="../static/assets/hab1.png" alt="FotoHab1" width="1150" height="800">
            <p class="fotHabTit">HABITACIÓN FAMILIAR</p>
            <div class="botonesFot">
                <a href="#">VER COMENTARIOS</a>
                <p>Habitaciones disponibles: 1</p>
                <button>Reservar</button>
            </div>
        </div>
    </div>
    <div class="habitFotos">
        <div class="hab1">
            <img src="../static/assets/hab2.png" alt="FotoHab1" width="1150" height="800">
            <p class="fotHabTit">2 AMBIENTES DELUXE</p>
            <div class="botonesFot">
                <a href="#">VER COMENTARIOS</a>
                <p>Habitaciones disponibles: 2</p>
                <button>Reservar</button>
            </div>
        </div>
    </div>
    <div class="habitFotos">
        <div class="hab1">
            <img src="../static/assets/hab3.png" alt="FotoHab1" width="1150" height="800">
            <p class="fotHabTit">PENTHOUSE EMPERATRIZ</p>
            <div class="botonesFot">
                <a href="#">VER COMENTARIOS</a>
                <p>Habitaciones disponibles: 3</p>
                <button>Reservar</button>
            </div>
        </div>
    </div>
{% endblock %}