{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
  <div>
    <div class="contentTxt">
      <div>
        <h1>
          Berjaya Times Square Hotel, Kuala Lumpur
        </h1>
        <p class="texto">
          Situado idealmente justo en el corazón del centro de entretenimiento más animado de la ciudad y la mayoría de los distritos comerciales.
        </p>
      </div>
      <img src='{{ url_for("static", filename="assets/habita.png") }}' alt="Logo Berjaya Hotel" />
    </div>
    <div class="contentTxt">
      <div>
        <h1>
          Deja las preocupaciones a nuestra recreación
        </h1>
        <p class="texto">
          Todo en diversión, relajación y vinculación, ofrecemos actividades atractivas y opciones de entretenimiento para huéspedes de todas las edades.
        </p>
      </div>      
      <img src='{{ url_for("static", filename="assets/pisicna.png") }}' alt="piscpic" />
    </div>
  </div>
{% endblock %}

{% block imageFooter %}
  <img src='{{ url_for("static", filename="assets/logoBerjayaFooter.svg") }}' alt="Berjaya Hotels">
{% endblock %}