.registroForm {
  display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.fieldRow {
	width: 40%;
}

.btnRow {
	width: 40%;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

.btn {
	width: 32%;
	min-width: 135px;
	margin: 0px 2px;
}

.form-group label,
.form-control option,
.flash {
  color: black;
}

.flash {
  text-align: center;
}

#matchForm {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}

#signUp {
	width: 32%;
}

#matchForm > .row {
	margin-bottom: 20px;
}

#message {
	margin-top: 20px;
}

#adminBox {
	margin: 20px 0px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	text-align: center;
}

#comenBox {
	margin: 20px 0px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	text-align: center;
}

#adminBox > a {
	text-decoration: none;
}