* {
  margin: unset;
  padding: unset;
  box-sizing: border-box;
  color: white;
  overflow-x: hidden;
  font-family: 'Montserrat', sans-serif;;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}

header {
  position: relative;
  width: 100vw;
  height: calc(100vw * (650 / 1366));
  background-image: url("../assets/berjayaBanner.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.navCtn {
  width: 100vw;
  height: calc(100vw * (90 / 1366));
  padding: 0 calc(100vw * (40 / 1366));
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.mainNav ul {
  display: flex;
}
.logo img {
  width: calc(100vw * (150 / 1366));
}
.mainNav ul li {
  display: flex;
  width: calc(100vw * (125 / 1366));
  justify-content: center;
  margin-left: calc(100vw * (10 / 1366));
  margin-right: calc(100vw * (10 / 1366));
}
.mainNav ul li a {
  width: 100%;
  height: 100%;
  text-align: center;
  font-weight: bold;
}

.mainNav ul li a:hover {
  text-decoration: underline;
}

.welcomeCtn {
  position: absolute;
  top: calc(100vw * (100 / 1366));
  left: calc(100vw * (100 / 1366));
  width: calc(100vw * (380 / 1366));
  margin-top: calc(100vw * (100 / 1366));
}
.welcomeCtn .welcomeTitle {
  font-size: calc(100vw * (30 / 1366));
}
.welcomeCtn .welcomeTitle span {
  font-size: calc(100vw * (80 / 1366));
}
.reservationCtn {
  position: absolute;
  bottom: calc(100vw * (50 / 1366));
  width: 100vw;
  display: flex;
  justify-content: center;
}
.reservationCtn img {
  width: calc(100vw * (200 / 1366));
}

footer {
  width: 100vw;
  height: calc(100vw * (200 / 1366));
  height: fit-content;
  display: flex;
  align-items: baseline;
  padding: calc(100vw * (50 / 1366));
  background-color: #14274A;
  clip-path: polygon(50% 0, 53% 20%, 100% 20%, 100% 100%, 0 100%, 0 20%, 47% 20%);

}
footer > div {
  height: fit-content;
  margin-top: calc(100vw * (20 / 1366));
  padding: calc(100vw * (30 / 1366));
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.berjayaInfoCtn img {
  width: calc(100vw * (100 / 1366));
  height: calc(100vw * (100 / 1366));
}
.berjayaInfoCtn p {
  font-size: calc(100vw * (14 / 1366));
  margin-top: calc(100vw * (5 / 1366));
}

.contactUsCtn ul li a {
  line-height: calc(100vw * (30 / 1366));
  font-weight: bold;
}
.socialMediaCtn ul li a {
  line-height: calc(100vw * (30 / 1366));
  font-weight: bold;
}
.newsLetterCtn form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.newsLetterCtn form label {
  width: 100%;
}
.newsletterInputsCtn {
  width: 100%;
  margin-top: calc(100vw * (10 / 1366));
}
.newsLetterCtn form input[type=text] {
  width: 73%;
  height: calc(100vw * (50 / 1366));
  margin: unset;
  border: none;
  padding-left: calc(100vw * (20 / 1366));
  box-shadow: none;
  outline: none;
  color: #FFF;
  background-color: #14274A;
  border: 1px solid #E0B973;
}
.newsLetterCtn form input[type=text]::placeholder {
  color: #FFF;
}
.newsLetterCtn form input[type=submit] {
  height: calc(100vw * (50 / 1366));
  width: calc(100vw * (50 / 1366));
  margin-left: calc(100vw * (-5 / 1366));
  background-color: #E0B973;
  border: none;
  box-shadow: none;
  outline: none;
}


/* LOGIN */


*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
}

.wave{
	position: fixed;
	bottom: 0;
	left: 0;
	height: 100%;
	z-index: -1;
}

.container{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap :7rem;
    padding: 0 2rem;
}

.img{
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.login-content{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	text-align: center;
}

.img img{
	width: 500px;
}

form{
	width: 360px;
}

.login-content img{
    height: 100px;
}

.login-content h2{
	margin: 15px 0;
	color: #333;
	text-transform: uppercase;
	font-size: 2.9rem;
}

.login-content .input-div{
	position: relative;
    display: grid;
    grid-template-columns: 7% 93%;
    margin: 25px 0;
    padding: 5px 0;
    border-bottom: 2px solid #d9d9d9;
}

.login-content .input-div.one{
	margin-top: 0;
}

.i{
	color: #d9d9d9;
	display: flex;
	justify-content: center;
	align-items: center;
}

.i i{
	transition: .3s;
}

.input-div > div{
    position: relative;
	height: 45px;
}

.input-div > div > h5{
	position: absolute;
	left: 10px;
	top: 50%;
	transform: translateY(-50%);
	color: #999;
	font-size: 18px;
	transition: .3s;
}

.input-div:before, .input-div:after{
	content: '';
	position: absolute;
	bottom: -2px;
	width: 0%;
	height: 2px;
	background-color: #14274a;
	transition: .4s;
}

.input-div:before{
	right: 50%;
}

.input-div:after{
	left: 50%;
}

.input-div.focus:before, .input-div.focus:after{
	width: 50%;
}

.input-div.focus > div > h5{
	top: -5px;
	font-size: 15px;
}

.input-div.focus > .i > i{
	color: #14274a;
}

.input-div > div > input{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	border: none;
	outline: none;
	background: none;
	padding: 0.5rem 0.7rem;
	font-size: 1.2rem;
	color: #555;
	font-family: 'poppins', sans-serif;
}

.input-div.pass{
	margin-bottom: 4px;
}

a{
	display: block;
	text-align: right;
	text-decoration: none;
	color: #999;
	font-size: 0.9rem;
	transition: .3s;
}

a:hover{
	color: #14274a;
}

.btn{
	display: block;
	width: 100%;
	height: 50px;
	border-radius: 25px;
	outline: none;
	border: none;
	background-image: linear-gradient(to right, #14274a, #283d64, #183a78);
	background-size: 200%;
	font-size: 1.2rem;
	color: #fff;
	font-family: 'Poppins', sans-serif;
	text-transform: uppercase;
	margin: 1rem 0;
	cursor: pointer;
	transition: .5s;
}
.btn:hover{
	background-position: right;
}


@media screen and (max-width: 1050px){
	.container{
		grid-gap: 5rem;
	}
}

@media screen and (max-width: 1000px){
	form{
		width: 290px;
	}

	.login-content h2{
        font-size: 2.4rem;
        margin: 8px 0;
	}

	.img img{
		width: 400px;
	}
}

@media screen and (max-width: 900px){
	.container{
		grid-template-columns: 1fr;
	}

	.img{
		display: none;
	}

	.wave{
		display: none;
	}

	.login-content{
		justify-content: center;
	}
}